.collection-preview {
  display: flex;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  
  }
}